/* GO TO TOP */
div.gototop > a{
    text-decoration: none;
    display: block;
    color: #fff !important;
    background-color:rgba(18, 23, 99, 0.849);
    padding: 15px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

/* FIRST SECTION */
.first-sec{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/collegedesign/images/background.jpg );
    background-position: center;
    background-size: cover;
    height: 25em;

}
section.first-sec{
    margin-top: 200px;
}   
div.first-sec-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 90%;
    
}
div.hero-container{

    width: 50%;
    padding-left: 70px;
    min-height: 250px;
}
h1.hero-title{
    gap: 15px;
    display: flex;
    font-weight: 700;
    font-size: 50px;
    color: white;
    
   
}
div.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}
div.hero-content > p{
    width: 70%;
    display: block;
    line-height: 2rem;
    font-size: 16px;
    font-weight:300;
    margin-left: 80px;
    color: azure;
    min-height: 80px;
}  
.hero-title::before{
    content: "";
    display: block;
    background-color: #d72134;
    height: auto;
    width: 10px;
}

/* SECOND SECTION */
.second-sec{
    height: 75vh;
    background-color: lightseagreen;
}


/* THIRD SECTION */
div.third-sec-container{
    width: 100%;
    min-height: 80em;
    border: 2px solid black;
    margin-top: 20px;
}
div.row1-thirdsec-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36em;
}
div.row1-left{
    margin-top: 10px;
}
div.row1-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
div.row1-right > p{
    font-size: 22px;
    margin-top: 12px;
    font-weight: 500;
}
div.row1-right > button{
    outline: #d72134;
    border: none;
    height: 35px;
    width: 50px;
    display: flex;
    background: red;
    align-items: center;
    justify-content: center;
    border-radius: 0 18px 18px 0;  
    color: #fff;
    font-size: 2rem; 
}
div.row2-thirdsec-container{
    width: 100%;
    height: fit-content;
    border: 2px solid brown;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    gap: 10px;
}
div.row2-left{
    margin-top: 5px;
    width: 50%;
    height: fit-content;
    /* border: 1px solid lightpink; */
}
div.left-theme-image img{
    border-radius: 10px;
}
div.row2-right{
    width: 50%;
    height: fit-content;
    /* border: 1px solid lightgreen; */
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 15px;
}
div.one_of_right-news{
   width: 100%;
   display: flex;
   align-items: flex-start;
   gap: 10px;
   padding: 5px 0 20px 5px;
   border-bottom: 1px solid darkgrey;
}
div.right-theme-image{
    width: 25%;
}
div.right-theme-image img{
    border-radius: 10px;
}
div.right-content{
    width: 75%;
}
div.right-content p{
    margin-bottom: 0;
    color: #d72134;
    font-size: 1rem;
    font-weight: 600;
}
div.right-content a{
    color: inherit !important;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
}
/* FOURTH SECTION  */

div.fourth-sec-container{
    width: 95%;
    margin: 0 auto;
    padding-top: 30px;
    height: 30rem;
}
div.fourth-sec-container div > img{
    height: 250px;
}
div.fourth-sec-container div > span{
    display: block;
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
}
div.fourth-sec-container div > a{
    color:#d72134;
    padding-top: 10px;
    margin: 0 auto;
}
div.edu-col1, div.edu-col3, div.edu-col2{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    width: 33%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
div.edu{
    padding-top: 10px;
    width: 100%;
}

/* FIFTH SECTION*/

div.fifth-sec-container{
    background-color: #f5f6fc;
    box-sizing: border-box;
    
    padding: 10px;
}
div.hidden-image{
    position: absolute;
    bottom: 0;
    left: 0;
}
div.hidden-image > img{
    height: 250px;
    transform: scaleX(-1);
}
div.introduction{
    width: 30%;
    position: relative;
    margin-top: 60px;
}
div.introduction > h1{
    font-size: 2rem;
}

div.fifth-sec-body{
    width: 70%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
    margin-top: 50px;
}

div.group-container{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    column-gap: 10px;
    padding: 10px;
    border-bottom: 2px solid #d2d3dc;
    margin-bottom: 30px;
}
div.group{
    display: flex;
    width: 33%;
    padding-right: 5px;
    padding-left: 5px;
}
div.lefton-image{
    margin-right: 10px;
}
div.lefton-image > img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
div.major{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
div.major-link{
    margin-top: 10px;
}
div.major-link > a{
    display: block !important;
    font-weight: 300;
    line-height: 1.6;
}
