.main{
    background-color: #fefefe;
    display: flex;
    width: 100%;
    gap: 5px;
    margin-bottom: 8px;
}
   

/* 75% */
div.notifications-side{
    min-width: 75%;
    height: fit-content;
    background-color: #ffffff;
    
    border-radius: 10px;
}

div.notifytopnav{
    height: 10%;
    background-color: #07689f;
    padding: 10px 0 10px 10px;
    color: #fff;
    border-radius: 10px 10px 0 0;
}
div.notify-content{
    height: 90%;
    background-color: transparent;
    display: flex;
    gap: 9px;
    padding-top: 3px;
    border-top: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
div.col1-notify-content {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 130px;
}
div.col1-notify-content > a{
    display: block;
    color: black;
}
div.notify-image{
    position: relative;
}
div.notify-image > img{
    min-height: 40px;
    max-height: 120px;
}
div.date-time{
    position: absolute;
    right: 0;
    bottom: -5;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}


div.col2-notify-content{
    min-width: 70%;
    
    min-height: 300px;
}
table{
    border: 1px solid lightgrey;
    border-top: none;
    
    line-height: 2rem;  
    width: 99%;
}
table tr > td{
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
table tr:nth-child(12) > td{
    border-bottom: none;
}
table tr > td > i{
    color: #07689f;
}
div.col2-notify-content tr{
    position: relative;
}








/* 20% */
div.login-side{
    width: 25%;
    height: 200px;
    
}
div.loginbar{
    height: 20%;
    background-color: #07689f;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
    padding-left: 10px;
}
div.wrapper{
    height: fit-content;
    background-color: #fff;
    color: #fff;
    width: 100%;
    padding: 5px 0 5px 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
div.input-box{
    width: 100%;
    margin: 5px 0;
    position: relative;
}
div.input-box > input{
    width: 50vh;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid  rgba(41, 36, 36, 0.2);
    border-radius: 15px;
    font-size: 15px;
    color: grey;
    padding: 1px 0 1px 10px;
}
div.input-box > input::placeholder{
    color: grey;
}
div.input-box > i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: grey;
}
div.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: 1px;
    color: gray;
}
div.remember-forgot label input{
    accent-color: gray;
    margin-right: 3px;
}
div.remember-forgot a{
    color: gray;
    text-decoration: none;
}
div.remember-forgot a:hover{
    text-decoration: underline;
}
button.btn{
    width: 90%;
    margin-top: 10px;
    margin-left: 13px;
    height: 50px;
    border: none;
    outline: none;
    border-radius:10px;
    background: #07689f;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
button.btn:hover{
    opacity: 0.8;
}