*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    
    
    font-family: 'Montserrat', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}
img{
    width: 100%;
}
a{
    text-decoration: none !important;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: inherit;
  }
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(218 33 52);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


