@media(max-width:500px){
    div.head-bar{
        width: 100%;
        top: 0;
        min-height: 300px;
        display: block;
        position: static;
    }
    div.logo{
        width: 90%;
        display: block;
    }
    div.aside-logo{
        width: 100%;
        height: fit-content;
        gap: 0;
        
    }
    div.aside-logo > a{
        width: 100%;
        font-size: 1rem;
        padding: 5px;
        padding-left: 10px;
    }
    
    h1.hero-title{
        gap: 15px;
        display: flex;
        font-weight: 700;
        font-size: 30px;
        color: white;
    }
    div.row1{
        display: block;
    }
    div.row1 > h1{
       font-size: 2.3rem;
        
    }
    div.right-row1{
        width: 100%;
    }
    div.right-row1 > a{
        font-size: 1.5rem;
        
    }
    div.carousel{
        width: 100%;
    }
    div.first-sec-container{
        display: block;
        height: fit-content;
    }
    div.hero-container{
        width: 90%;
        margin: 0 auto;
    }
    div.hero-content{
        width: 90%;
        margin: 0 auto;
    }
    h1.hero-title{
        position: static;
    }
    div.hero-content > div{
        position: static;
    }
    div.hero-content p{
        font-size: 1rem;
        line-height: 2rem;
    }
    div.row1-thirdsec-container{
        display: block;
    }
    div.row1-left{
        width: 100%;
    }
    div.row1-right{
        width: 100%;
    }
    div.row2-thirdsec-container{
        display: block;
    }
    div.row2-left{
        width: 100%;
    }
    div.row2-right-container{
        width: 100%;
        display: block;
    }
   
    div.introduction > h1{
        font-size: 2rem;
    } 
   
}

@media(min-width:700px){
    div.head-bar{
       min-height: 100px;
    }
}