@media(max-width:500px){
    div.head-bar{
        width: 100%;
        top: 0;
        min-height: 300px;
        display: block;
    }
    div.logo{
        width: 90%;
        display: block;
    }
    div.aside-logo{
        width: 100%;
        height: fit-content;
        gap: 0;
        
    }
    div.aside-logo > a{
        width: 100%;
        font-size: 1rem;
        padding: 5px;
    }
    
    h1.hero-title{
        gap: 15px;
        display: flex;
        font-weight: 700;
        font-size: 30px;
        color: white;
    }
    div.row1{
        display: block;
    }
    div.row1 > h1{
       font-size: 2.3rem;
        
    }
    div.right-row1{
        width: 100%;
    }
    div.right-row1 > a{
        font-size: 1.5rem;
    }
   
}

@media(min-width:700px){
    div.head-bar{
       min-height: 100px;
    }
}